.hero {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  transition: transform 0.5s ease;
}

#title:hover {
  transform: scale(3);
  transition: transform 0.5s ease;
}

body {
  background: lightgray;
}
